.home-container {
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/fundo_home.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-logo {
  width: 650px;
  margin-top: 60px;
}

.home-botoes {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 300px;
}

.botao-branco {
  background: white;
  color:#75B51A;
  padding: 16px 20px;
  font-size: 18px;
  border-radius: 16px;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
}

.botao-outline {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 16px 20px;
  font-size: 18px;
  border-radius: 16px;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
}
