.card {
  background: #FFF;
  border-radius: 16px;
  padding: 18px;
  box-shadow: 0px 12px 24px rgba(0,0,0,0.06);
  margin-bottom: 20px;
}

.card h3 {
  font-size: 18px;
  font-weight: 800;
  color: #2B3674;
}

.itens {
  color: #8A8FB3;
}

.empresa {
  color: #8A8FB3;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: 14px;
  color: #2B3674;
  font-weight: 600;
}

.status {
  padding: 6px 12px;
  border-radius: 18px;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
}

.card:hover {
    background: #e6e6e6;
    cursor: pointer;
}